.App {
  text-align: left;
  padding: 0 150px 150px 0;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.dotted-ul {
    border-bottom: 1px dashed #000;
    text-decoration: none;
}


body {
    background: url(background.webp) no-repeat;
    /* Keep the inherited background full size. */
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.jumbotron {
background-color:rgba(220, 220, 220, 0.2) !important;
}
.alert, button {
    opacity: 0.8;
}
.container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    background-color:rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin-top: 70px;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}
