.App {
  text-align: left;
  padding: 0 150px 150px 0;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  max-width: 1000px !important;
}

.dotted-ul {
    border-bottom: 1px dashed #000;
    text-decoration: none;
}


body {
    background: url(background.webp) no-repeat;
    /* Keep the inherited background full size. */
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img.spin {
    margin-left: 37%;
}

.jumbotron {
    background-color:rgba(220, 220, 220, 0.2) !important;
}
.alert, button {
    opacity: 0.8;
}
.container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    background-color:rgba(255, 255, 255, 0.95);
    overflow: hidden;
    margin-top: 70px;
}
